// header.component.scss

.app-header {
    background-color: #3498db; /* Your desired background color */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .brand {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .app-nav {
      display: flex;
      gap: 20px;
      justify-content: center; /* Center items horizontally */
  
      a {
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
  
        &.active {
          background-color: #2980b9; /* Active link background color */
        }
      }
    }
  }
  